<p id="notice"><%= notice %></p>

<%= link_to 'Upload another', new_upload_path %>
<br />
<%= link_to 'View all uploaded pictures', uploads_path %>
<br />

<%= image_tag @picture.content %>

<%= link_to 'Upload another', new_upload_path %>
<br />
<%= link_to 'View all uploaded pictures', uploads_path %>
<br />
