!!! 5
- ie_html :class => "no-js", :lang => "en" do

	= render "head"

	%body{ :class => "#{ controller.controller_name }" }

		= render "header"

		#main{ :role => "main" }
			= yield if request.path.match(%r{^/uploads})

		- if current_user
			= requirejs_include_tag "main"
