<!DOCTYPE html>
<html>
<head>
  <title>Draw</title>
  <%= stylesheet_link_tag   "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!--
  <div class="user_nav">
    <% if current_user %>
      <%= image_tag session[:image] %> | 
      Logged in as <%= current_user.name %> | 
      <%= link_to "Sign out", signout_path %> 
    <% else %>
      <%= link_to "Sign in with Facebook", '/auth/facebook/'%>
    <% end %>
  </div>
  -->

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
