!!! 5
- ie_html :class => "no-js", :lang => "en" do

	= render "head"

	%body{ :class => "#{ controller.controller_name }" }

		= render "header"

		#main{ :role => "main" }

		- if current_user
			- @json = Rabl.render(current_user, 'users/bootstrap', view_path: 'app/views', format: :json)
			= requirejs_include_tag "application"
			:coffeescript
				-# console.log #{@json}
				define 'bootstrap', -> return #{@json}
